@model IEnumerable<HelpDesk.Common.Models.IncidentModel>


<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
          
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>    
                <td>
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>
                

            <td>
                <a asp-action="Edit" asp-route-id="@item.IncidentId">View</a> 
                
            </td>
        </tr>
}
    </tbody>
</table>
